{% extends 'cards/base.html' %}

{% block content %}
    <h1>Welcome to Cards Against the Human Race</h1>
    <div class="card text-white bg-dark mb-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ black }}</h5>
          <p style="opacity: 0.3; user-select: none;">Cards Against The Human Race</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ white }}</h5>
          <p style="opacity: 0.3; user-select: none;">Cards Against The Human Race</p>
        </div>
      </div>
      <br>
      <a class="btn btn-primary" href="{% url 'cards:cards' %}">New combos</a>
{% endblock %}